.button{
  color: var(--primary-color);
  border: none;
  border-radius: 34px;
  background-color: white;
  font-size: 15px;
  font-family: "Poppins-Bold", sans-serif;
  padding: 27px 60px;
  line-height: 1;
  cursor: pointer;
}