:root{
  --primary-color: #0298CD;
  --secondary-color: rgb(189 216 225);
  --table-header-background: rgba(2, 152, 205, 0.06);
  --primary-color-faded: rgba(2, 152, 205, 0.9);
  --text-color: #2D2F3B;
  --section-background: #F4F8FA;
}